 .cta {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cta video {
    width: 100%;
    height: 100%;
    left: 0;
    top: 7.584rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.title {
    width: 116.4rem;
    position: absolute;
    top: 50%;
    right: 15%;
    text-align: right;
}

h1 {
    color: #d9c7b3;
    font-size: 10rem;
    font-weight: 500;
    font-family: 'Playfair Display';
}

.form-container {
    width: 77.8rem;
    height: 22.6rem;
    background-color: #d9c7b3;
    border-radius: 1.8rem;
    transform: translateY(15rem);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

h4 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 3rem;
    color: #363a2b;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hotel, #pax, #arr-date {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.7rem;
}

select {
    border: none;
    border-radius: 0.5rem;
    background-color: #e1d2c2;
    color: #656366;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('../../../images/arrow.png'); 
    background-repeat: no-repeat;
    background-position: right 3rem center;
    background-size: 1.2rem;
    padding-left: 2rem;
}

input[type="date"] {

    background-image: url('../../../images/arrow.png'); 
    background-repeat: no-repeat;
    background-position: right 3rem center;
    background-size: 1.2rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 2rem;

    border: none;
    border-radius: 0.5rem;
    background-color: #e1d2c2;
    color: #656366;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 3rem;
    opacity: 0;
    cursor: pointer;
    width: 40%;
}

#hotel select {
    width: 22.4rem;
    height: 5.7rem;
}

#pax select {
    width: 16rem;
    height: 5.7rem;
}

#arr-date input {
    width: 23.2rem;
    height: 5.7rem;
}

.prmbtn {
    margin: auto;
    position: relative;
    transform: translateY(1rem);
}

.primary-btn {
    padding: 1rem 3rem;
    border: none;
    border-radius: .5rem;
    color: #fff;
    background-color: #363a2b;
    font-size: 3rem;
    cursor: pointer;
}

/* HOTEL FEU  */

.feu {
    padding-top: 30rem;
    display: flex;
    justify-content: flex-end;
}

.container-right {
    width: 90%;
    height: 75rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.image-hub {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container-left .image-hub {
    flex-direction: row-reverse;
}

.main-img {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5rem;
}

.main-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: -55rem;
    position: relative;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    justify-content: space-evenly;
}

h2 {
    font-size: 9.6rem;
    font-family: 'Playfair Display';
    font-weight: 500;
    color: #363a2b;
}

.article {
    width: 69.8%;
}

.article p {
    font-size: 2rem;
    font-family: 'Karla';
    font-weight: 400;
    line-height: 100%;
    color: #363a2b;
}

.location span {
    font-size: 2rem;
    vertical-align: top;
    margin-left: 1rem;
}

.air, .eau {
    margin-top: 10rem;
}

.container-left {
    width: 90%;
    height: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.air .main-img img {
    object-position: center;
}

.terre {
    padding-top: 10rem;
    display: flex;
    justify-content: flex-end;
}

.concept {
    margin-top: 15rem;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.concept-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90rem;
    gap: 5rem;
}

.concept-img {
    width: 100%;
    height: 40rem;
}

.concept-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.concept-article p {
    font-size: 2rem;
    color: #363a2b;
}

h3 {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #363a2b;
}

.author {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.author-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 80rem;
    justify-content: space-around;
}

.author-img {
    height: 100%;
    width: 100%;
}

.author-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.signature {
    font-size: 2rem;
    color: #363a2b;
    margin-top: 3rem;
}

.signature span {
    font-weight: 700;
}

@media (max-width: 1024px) {
    .cta video {
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title {
        width: 100%;
        text-align: center;
        top: 20%;
        right: 0;
    }
    
    h1 {
        font-size: 5rem;
    }

    .form-container {
        width: 35rem;
        height: 40rem;
    }
    
    h4 {
        text-align: center;
        font-size: 1.7rem;
    }

    #form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #hotel select {
        width: 23.2rem;
    }

    #pax select {
        width: 23.2rem;
    }

    .label {
        text-align: center;
    }

    .prmbtn {
        scale: 0.8;
    }

    .container-right {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 2rem;
    }

    .container-left {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 2rem;
    }
    
    .content {
        width: 90%;
        height: 50rem;
    }

    .image-hub {
        width: fit-content;
        height: 50rem;
        gap: 5rem;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .main-img {
        width: 50%;
        height: 50rem;
    }

    .main-img img {
        object-fit: cover;
        object-position: center;
        height: 50rem;
        width: 34rem;
    }

    .article {
        width: 100%;
    }

    .article article p {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 6.4rem;
    }

    .air, .eau {
        display: flex;
        justify-content: flex-end;
    }

    .air .image-hub, .eau .image-hub {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        width: 90%;
    }


    .author-item {
        width: 100%;
        gap: 5rem;
        height: auto;
    }

    .author-img img {
        object-fit: cover;
        width: 100%;
        height: 30rem;
    }
}