@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Karla';
    background-color: #E4E0DC;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 1025px) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .desktop {
        display: none !important;
    }
}